*{
    margin: 0;
    padding: 0;
    boxing-size: border-box;
}

main{
    width: 1400px;
    background-color: rgba(245, 248, 250, 1);
    height: 900px;
    margin-top: 55px;
    margin-left: 101px;
    /* text-align: center; */
}
ul{
    display: flex;
    float: right;
    list-style-type: none;
    /* width: 476px; */
    height: 40px;
    /* font-family: Lato; */
    
    /* margin-left: 924px; */
}
li{
    margin-right: 0px;
    padding-top: 13px;
    padding-bottom: 25px;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: bold;

}
#acc{
    border: 1px solid black;
    border-radius: 4px;

    /* padding: 20px; */
}
#img1{
    overflow: auto;
}
.head{
    padding: 40px;
    width; 200px;
    height: 39px;
}
.line{
    width: 1316px;
    height: 2px;
    margin-left: 2px;
    margin-top: 19px;
    right: 48px;
    background-color: rgba(224, 230, 234, 1);
}
.header-con{
    padding-top: 30px;
    padding-left: 35px;
    padding-right: 35px;
    margin-right: 15px;
} 
.in{
    display: flex;
    flex-direction: 1;
    margin-top: 60px;
    margin-left: 250px;
    width: 892px;
    height: 650px;
    color: white;
    
}
.in-left-con{
    width: 65%;
    height: 100%;
    background-color: #FFFFFF;
    color: black;
    font-family: 'Lato', sans-serif;
    
}
.in-right-con{
    width: 35%;
    height: 100%;
    background-color: #1179BF;
}
.in-sec{
    width: 231px;
    height: 610px;
    margin-top: 8px;
    margin-left: 46px;
    font-family: Lato;
}
.in-sec1{
    width: 231px;
    height: 152px;
    padding-top: 20px;
    font-family: Lato;
}
.gap{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 700;
    /* line-height: 24px; */
    /* width: 93px; */
    
}
.fgh{
    padding-top: 5px;
}
#sm{
    position: absolute;
    padding-top: 14px;
    font-size: 19px;
    font-weight: bold;
}
#jj{
    /* display: inline-block; */
    margin-left: 10px;
    padding-left: 10px;
    font-size: 55px;
    font-weight: 300;
    /* line-height: 72px; */
}
#yr{
    font-size: 16px;
    font-weight: bold;
}
#aut{
    display: inline-block;
    padding-top: -20px;
    font-size: 16px;
    font-weight: 400;
    font
}
.in-sec2{
    margin-top: 20px;
    
    /* display: flex; */

}
.in-sec3{
    margin-top: 30px; 
}
.in-sec4{
    margin-top: 20px;
}
.img-col{
    width: 10px;
    height: 10px;
    background-color: #B9F5FF;
    border: 1px solid #B9F5FF;
    border-radius: 7px;
    margin-top: 15px;

}
.linesw{
    width: 180px;
    background-color: #B9F5FF;
    border: 1px solid #B9F5FF;
}
.chkpar{
    margin-left: 5px;
    padding-left: 5px;
    
}
#sw{
    font-weight: bold;
    /* padding-top: 10px; */
}
#sw20{
    font-weight: bold;
}
#line2{
    width: 100%;
    margin-top: 32px;
    height: 2px;
}
#line3{
    width: 220px;
    background-color: rgba(10, 21, 191, 0.1);
    /* background-color: #B9F5FF; */
    margin-top: 30px;
    margin-left: -1px;
}
#ftp{
    padding-top: 10px;
    font-size: 18px;
    font-weight: 700px;
}
.chkout{
    color: rgba(29, 44, 60, 1);
    font-size: 30px;
    font-weight: 400;
    text-shadow: 0 4 4 0 box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 27px 0 0 30px;

    /* width: 30px; */
}
#lst-img{
    float: left;
}
.lst{
    overflow: auto;
    margin-top: 10px;
}
#kb{
    margin-left: 50px;
    padding: 10px;
    height: 19px;
    font-size: 16px;
    /* font-weight: 700px; */
}
.basicInfo{
    margin: 30px;
}

.inpLeft{
    display: flex;
    margin-top: 15px;
    /* flex-directions: column; */
    /* align-items: center; */
} 
.lnform{
    margin-left: 50px;
}
input{
    border: 1px solid rgba(237, 239, 242, 1);
    background-color: rgba(237, 239, 242, 1);
    width: 226px;
    height: 26px;
    margin-top: 5px;
    padding-left: 12px;
    
}
.cvvDetails{

}
.two{
    margin-left: 30px;
}
.em{
    margin-top: 15px;
    
}
#email{
    display: block;
    width: 79%;
}
.one1{
    display: inline-block;
    border: 2px solid rgba(84, 139, 197, 1);
    padding: 5px;
    font-size: 10px;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    text-align: center;
}
.base1{
    font-weight: bold;
    margin-left: 10px;
}
.cred{
    margin-top: 15px;
}
.flexcard{
    display: flex;
}
#cN{
    width: 60%;
}
#cV{
    width: 45px;
}
.three{
    margin-top: 60px;
    margin-left: 30px;
}
button{
    width: 90%;
    font-size: 18px;
    font-weight: 700;
    padding: 8px;
    background-color: rgba(3, 142, 125, 1);
    border: 1px solid rgba(3, 142, 125, 1);
    color: rgba(255, 255, 255, 1);
    /* margin-left: 10%; */
}
.foot{
    margin: 20px 70px 20px 70px;
}
#stripe{
    margin-top: 20px;
}
#bold1{
    font-weight: bold;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 700px;
}
#hes{
    font-size: 14px;
    font-weight: 400px;
}
#lst{
    margin-left: 33px;
}
#stripe{
    display: inline-block;
    width: 92px;
    height: 20.1px;

    margin-left: 135px;
}
#fnn{
    color: rgba(29, 44, 60, 1);
}
#lnn{
    color: rgba(29, 44, 60, 1);
}
#email{
    color: rgba(29, 44, 60, 1);
}
#cred{
    color: rgba(29, 44, 60, 1);
}
#ll{
    position: absolute;
    width: 94px;
    background-color: rgba(167, 167, 167, 1);
    height: 1px;
    left: 36.9%;
    top: 753px;
}
#foot{
    margin-top: 15px;
    margin-left: -7%;
    color: #636B6F;
}
#sp{
    color: #31708F;


}
/* #form{
    display: flex;
    flex-directions: column;
    align-items: center;
}*/
/* #fnn{
    float: left;
}
#fn{
    overflow: none;
}
#lnn{
    float: right;
} */